<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-OfflineFromDBDemo" version="1.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>OfflineFromDBDemo</name>
    <engines>
        <engine name="cordova" version=">=3.4.0"/>
    </engines>
    <js-module name="OfflineFromDBDemo" src="www/OfflineFromDBDemo.js">
        <clobbers target="cordova.plugins.OfflineFromDBDemo" />
    </js-module>
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="OfflineFromDBDemo">
                <param name="ios-package" value="OfflineFromDBDemo" />
            </feature>
        </config-file>

        <source-file src="src/ios/Plugin/Frameworks/ObjectMapper-iOS.xcframework" target-dir="lib" framework="true" />
        <framework src="src/ios/Plugin/Frameworks/ObjectMapper-iOS.xcframework" embed="true" custom="true" />
        <source-file src="src/ios/Plugin/Frameworks/Realm.xcframework" target-dir="lib" framework="true" />
        <framework src="src/ios/Plugin/Frameworks/Realm.xcframework" embed="true" custom="true" />
        <source-file src="src/ios/Plugin/Frameworks/RealmSwift.xcframework" target-dir="lib" framework="true" />
        <framework src="src/ios/Plugin/Frameworks/RealmSwift.xcframework" embed="true" custom="true" />

        <source-file src="src/ios/Plugin/Manager/BibleDataFromDB.swift" />
        <source-file src="src/ios/Plugin/Manager/DocumentsManager.swift" />
        <source-file src="src/ios/Plugin/Manager/Constants.swift" />
        
        <source-file src="src/ios/Plugin/Models/Audio.swift" />
        <source-file src="src/ios/Plugin/Models/RealmObjectMapper.swift" />
        <source-file src="src/ios/Plugin/Models/Chapter.swift" />
        <source-file src="src/ios/Plugin/Models/Book.swift" />
        <source-file src="src/ios/Plugin/Models/Teaching.swift" />
        <source-file src="src/ios/Plugin/Models/Verse.swift" />

        <source-file src="src/ios/Plugin/Cordova/OfflineFromDBPlugin.swift" />

        <resource-file src="src/ios/Plugin/Resources/DB/default.realm" />

        <resource-file src="src/ios/Plugin/Resources/JSONS/Books/books.json" />

        <resource-file src="src/ios/Plugin/Resources/JSONS/Audios/audio_1CH.json" />
        <resource-file src="src/ios/Plugin/Resources/JSONS/Audios/audio_GEN.json" />
        <resource-file src="src/ios/Plugin/Resources/JSONS/Audios/audio_MRK.json" />
        <resource-file src="src/ios/Plugin/Resources/JSONS/Audios/audio_LAM.json" />
        <resource-file src="src/ios/Plugin/Resources/JSONS/Audios/audio_SNG.json" />
        <resource-file src="src/ios/Plugin/Resources/JSONS/Audios/audio_JHN.json" />
        <resource-file src="src/ios/Plugin/Resources/JSONS/Audios/audio_NAM.json" />
        <resource-file src="src/ios/Plugin/Resources/JSONS/Audios/audio_1SA.json" />
        <resource-file src="src/ios/Plugin/Resources/JSONS/Audios/audio_ECC.json" />
        <resource-file src="src/ios/Plugin/Resources/JSONS/Audios/audio_JER.json" />
        <resource-file src="src/ios/Plugin/Resources/JSONS/Audios/audio_HAG.json" />
        <resource-file src="src/ios/Plugin/Resources/JSONS/Audios/audio_JAS.json" />
        <resource-file src="src/ios/Plugin/Resources/JSONS/Audios/audio_EXO.json" />
        <resource-file src="src/ios/Plugin/Resources/JSONS/Audios/audio_2TH.json" />
        <resource-file src="src/ios/Plugin/Resources/JSONS/Audios/audio_JUD.json" />
        <resource-file src="src/ios/Plugin/Resources/JSONS/Audios/audio_2KI.json" />
        <resource-file src="src/ios/Plugin/Resources/JSONS/Audios/audio_JOB.json" />
        <resource-file src="src/ios/Plugin/Resources/JSONS/Audios/audio_2PE.json" />
        <resource-file src="src/ios/Plugin/Resources/JSONS/Audios/audio_JON.json" />
        <resource-file src="src/ios/Plugin/Resources/JSONS/Audios/audio_EST.json" />
        <resource-file src="src/ios/Plugin/Resources/JSONS/Audios/audio_COL.json" />
        <resource-file src="src/ios/Plugin/Resources/JSONS/Audios/audio_ISA.json" />
        <resource-file src="src/ios/Plugin/Resources/JSONS/Audios/audio_JDG.json" />
        <resource-file src="src/ios/Plugin/Resources/JSONS/Audios/audio_PHP.json" />
        <resource-file src="src/ios/Plugin/Resources/JSONS/Audios/audio_DEU.json" />
        <resource-file src="src/ios/Plugin/Resources/JSONS/Audios/audio_PRO.json" />
        <resource-file src="src/ios/Plugin/Resources/JSONS/Audios/audio_2JN.json" />
        <resource-file src="src/ios/Plugin/Resources/JSONS/Audios/audio_2TI.json" />
        <resource-file src="src/ios/Plugin/Resources/JSONS/Audios/audio_1CO.json" />
        <resource-file src="src/ios/Plugin/Resources/JSONS/Audios/audio_ACT.json" />
        <resource-file src="src/ios/Plugin/Resources/JSONS/Audios/audio_2SA.json" />
        <resource-file src="src/ios/Plugin/Resources/JSONS/Audios/audio_DAN.json" />
        <resource-file src="src/ios/Plugin/Resources/JSONS/Audios/audio_HAB.json" />
        <resource-file src="src/ios/Plugin/Resources/JSONS/Audios/audio_EPH.json" />
        <resource-file src="src/ios/Plugin/Resources/JSONS/Audios/audio_JOL.json" />
        <resource-file src="src/ios/Plugin/Resources/JSONS/Audios/audio_ZEP.json" />
        <resource-file src="src/ios/Plugin/Resources/JSONS/Audios/audio_MAT.json" />
        <resource-file src="src/ios/Plugin/Resources/JSONS/Audios/audio_NUM.json" />
        <resource-file src="src/ios/Plugin/Resources/JSONS/Audios/audio_MIC.json" />
        <resource-file src="src/ios/Plugin/Resources/JSONS/Audios/audio_REV.json" />
        <resource-file src="src/ios/Plugin/Resources/JSONS/Audios/audio_EZR.json" />
        <resource-file src="src/ios/Plugin/Resources/JSONS/Audios/audio_ROM.json" />
        <resource-file src="src/ios/Plugin/Resources/JSONS/Audios/audio_HEB.json" />
        <resource-file src="src/ios/Plugin/Resources/JSONS/Audios/audio_NEH.json" />
        <resource-file src="src/ios/Plugin/Resources/JSONS/Audios/audio_AMO.json" />
        <resource-file src="src/ios/Plugin/Resources/JSONS/Audios/audio_MAL.json" />
        <resource-file src="src/ios/Plugin/Resources/JSONS/Audios/audio_2CH.json" />
        <resource-file src="src/ios/Plugin/Resources/JSONS/Audios/audio_EZK.json" />
        <resource-file src="src/ios/Plugin/Resources/JSONS/Audios/audio_ZEC.json" />
        <resource-file src="src/ios/Plugin/Resources/JSONS/Audios/audio_TIT.json" />
        <resource-file src="src/ios/Plugin/Resources/JSONS/Audios/audio_1TI.json" />
        <resource-file src="src/ios/Plugin/Resources/JSONS/Audios/audio_1JN.json" />
        <resource-file src="src/ios/Plugin/Resources/JSONS/Audios/audio_2CO.json" />
        <resource-file src="src/ios/Plugin/Resources/JSONS/Audios/audio_2CO.json" />
        <resource-file src="src/ios/Plugin/Resources/JSONS/Audios/audio_JOS.json" />
        <resource-file src="src/ios/Plugin/Resources/JSONS/Audios/audio_RUT.json" />
        <resource-file src="src/ios/Plugin/Resources/JSONS/Audios/audio_HOS.json" />
        <resource-file src="src/ios/Plugin/Resources/JSONS/Audios/audio_GAL.json" />
        <resource-file src="src/ios/Plugin/Resources/JSONS/Audios/audio_3JN.json" />
        <resource-file src="src/ios/Plugin/Resources/JSONS/Audios/audio_1KI.json" />
        <resource-file src="src/ios/Plugin/Resources/JSONS/Audios/audio_OBA.json" />
        <resource-file src="src/ios/Plugin/Resources/JSONS/Audios/audio_PHM.json" />
        <resource-file src="src/ios/Plugin/Resources/JSONS/Audios/audio_1TH.json" />
        <resource-file src="src/ios/Plugin/Resources/JSONS/Audios/audio_LEV.json" />
        <resource-file src="src/ios/Plugin/Resources/JSONS/Audios/audio_LUK.json" />
        <resource-file src="src/ios/Plugin/Resources/JSONS/Audios/audio_1PE.json" />
        <resource-file src="src/ios/Plugin/Resources/JSONS/Audios/audio_PSA.json" />
        
        <resource-file src="src/ios/Plugin/Resources/JSONS/Verses/1CH.json" />
        <resource-file src="src/ios/Plugin/Resources/JSONS/Verses/GEN.json" />
        <resource-file src="src/ios/Plugin/Resources/JSONS/Verses/MRK.json" />
        <resource-file src="src/ios/Plugin/Resources/JSONS/Verses/LAM.json" />
        <resource-file src="src/ios/Plugin/Resources/JSONS/Verses/SNG.json" />
        <resource-file src="src/ios/Plugin/Resources/JSONS/Verses/JHN.json" />
        <resource-file src="src/ios/Plugin/Resources/JSONS/Verses/NAM.json" />
        <resource-file src="src/ios/Plugin/Resources/JSONS/Verses/1SA.json" />
        <resource-file src="src/ios/Plugin/Resources/JSONS/Verses/ECC.json" />
        <resource-file src="src/ios/Plugin/Resources/JSONS/Verses/JER.json" />
        <resource-file src="src/ios/Plugin/Resources/JSONS/Verses/HAG.json" />
        <resource-file src="src/ios/Plugin/Resources/JSONS/Verses/JAS.json" />
        <resource-file src="src/ios/Plugin/Resources/JSONS/Verses/EXO.json" />
        <resource-file src="src/ios/Plugin/Resources/JSONS/Verses/2TH.json" />
        <resource-file src="src/ios/Plugin/Resources/JSONS/Verses/JUD.json" />
        <resource-file src="src/ios/Plugin/Resources/JSONS/Verses/2KI.json" />
        <resource-file src="src/ios/Plugin/Resources/JSONS/Verses/JOB.json" />
        <resource-file src="src/ios/Plugin/Resources/JSONS/Verses/2PE.json" />
        <resource-file src="src/ios/Plugin/Resources/JSONS/Verses/JON.json" />
        <resource-file src="src/ios/Plugin/Resources/JSONS/Verses/EST.json" />
        <resource-file src="src/ios/Plugin/Resources/JSONS/Verses/COL.json" />
        <resource-file src="src/ios/Plugin/Resources/JSONS/Verses/ISA.json" />
        <resource-file src="src/ios/Plugin/Resources/JSONS/Verses/JDG.json" />
        <resource-file src="src/ios/Plugin/Resources/JSONS/Verses/PHP.json" />
        <resource-file src="src/ios/Plugin/Resources/JSONS/Verses/DEU.json" />
        <resource-file src="src/ios/Plugin/Resources/JSONS/Verses/PRO.json" />
        <resource-file src="src/ios/Plugin/Resources/JSONS/Verses/2JN.json" />
        <resource-file src="src/ios/Plugin/Resources/JSONS/Verses/2TI.json" />
        <resource-file src="src/ios/Plugin/Resources/JSONS/Verses/1CO.json" />
        <resource-file src="src/ios/Plugin/Resources/JSONS/Verses/ACT.json" />
        <resource-file src="src/ios/Plugin/Resources/JSONS/Verses/2SA.json" />
        <resource-file src="src/ios/Plugin/Resources/JSONS/Verses/DAN.json" />
        <resource-file src="src/ios/Plugin/Resources/JSONS/Verses/HAB.json" />
        <resource-file src="src/ios/Plugin/Resources/JSONS/Verses/EPH.json" />
        <resource-file src="src/ios/Plugin/Resources/JSONS/Verses/JOL.json" />
        <resource-file src="src/ios/Plugin/Resources/JSONS/Verses/ZEP.json" />
        <resource-file src="src/ios/Plugin/Resources/JSONS/Verses/MAT.json" />
        <resource-file src="src/ios/Plugin/Resources/JSONS/Verses/NUM.json" />
        <resource-file src="src/ios/Plugin/Resources/JSONS/Verses/MIC.json" />
        <resource-file src="src/ios/Plugin/Resources/JSONS/Verses/REV.json" />
        <resource-file src="src/ios/Plugin/Resources/JSONS/Verses/EZR.json" />
        <resource-file src="src/ios/Plugin/Resources/JSONS/Verses/ROM.json" />
        <resource-file src="src/ios/Plugin/Resources/JSONS/Verses/HEB.json" />
        <resource-file src="src/ios/Plugin/Resources/JSONS/Verses/NEH.json" />
        <resource-file src="src/ios/Plugin/Resources/JSONS/Verses/AMO.json" />
        <resource-file src="src/ios/Plugin/Resources/JSONS/Verses/MAL.json" />
        <resource-file src="src/ios/Plugin/Resources/JSONS/Verses/2CH.json" />
        <resource-file src="src/ios/Plugin/Resources/JSONS/Verses/EZK.json" />
        <resource-file src="src/ios/Plugin/Resources/JSONS/Verses/ZEC.json" />
        <resource-file src="src/ios/Plugin/Resources/JSONS/Verses/TIT.json" />
        <resource-file src="src/ios/Plugin/Resources/JSONS/Verses/1TI.json" />
        <resource-file src="src/ios/Plugin/Resources/JSONS/Verses/1JN.json" />
        <resource-file src="src/ios/Plugin/Resources/JSONS/Verses/2CO.json" />
        <resource-file src="src/ios/Plugin/Resources/JSONS/Verses/2CO.json" />
        <resource-file src="src/ios/Plugin/Resources/JSONS/Verses/JOS.json" />
        <resource-file src="src/ios/Plugin/Resources/JSONS/Verses/RUT.json" />
        <resource-file src="src/ios/Plugin/Resources/JSONS/Verses/HOS.json" />
        <resource-file src="src/ios/Plugin/Resources/JSONS/Verses/GAL.json" />
        <resource-file src="src/ios/Plugin/Resources/JSONS/Verses/3JN.json" />
        <resource-file src="src/ios/Plugin/Resources/JSONS/Verses/1KI.json" />
        <resource-file src="src/ios/Plugin/Resources/JSONS/Verses/OBA.json" />
        <resource-file src="src/ios/Plugin/Resources/JSONS/Verses/PHM.json" />
        <resource-file src="src/ios/Plugin/Resources/JSONS/Verses/1TH.json" />
        <resource-file src="src/ios/Plugin/Resources/JSONS/Verses/LEV.json" />
        <resource-file src="src/ios/Plugin/Resources/JSONS/Verses/LUK.json" />
        <resource-file src="src/ios/Plugin/Resources/JSONS/Verses/1PE.json" />
        <resource-file src="src/ios/Plugin/Resources/JSONS/Verses/PSA.json" />

    </platform>
</plugin>
