<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-OfflineFromDBDemo" version="1.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>OfflineFromDBDemo</name>
    <engines>
        <engine name="cordova" version=">=3.4.0"/>
    </engines>
    <js-module name="OfflineFromDBDemo" src="www/OfflineFromDBDemo.js">
        <clobbers target="cordova.plugins.OfflineFromDBDemo" />
    </js-module>
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="OfflineFromDBDemo">
                <param name="ios-package" value="OfflineFromDBDemo" />
            </feature>
        </config-file>

        <source-file src="src/ios/Plugin/Frameworks/ObjectMapper-iOS.xcframework" target-dir="lib" framework="true" />
        <framework src="src/ios/Plugin/Frameworks/ObjectMapper-iOS.xcframework" embed="true" custom="true" />
        <source-file src="src/ios/Plugin/Frameworks/Realm.xcframework" target-dir="lib" framework="true" />
        <framework src="src/ios/Plugin/Frameworks/Realm.xcframework" embed="true" custom="true" />
        <source-file src="src/ios/Plugin/Frameworks/RealmSwift.xcframework" target-dir="lib" framework="true" />
        <framework src="src/ios/Plugin/Frameworks/RealmSwift.xcframework" embed="true" custom="true" />

        <source-file src="src/ios/Plugin/Manager/BibleDataFromDB.swift" />
        <source-file src="src/ios/Plugin/Manager/DocumentsManager.swift" />
        <source-file src="src/ios/Plugin/Manager/Constants.swift" />
        
        <source-file src="src/ios/Plugin/Models/Audio.swift" />
        <source-file src="src/ios/Plugin/Models/RealmObjectMapper.swift" />
        <source-file src="src/ios/Plugin/Models/Chapter.swift" />
        <source-file src="src/ios/Plugin/Models/Book.swift" />
        <source-file src="src/ios/Plugin/Models/Teaching.swift" />
        <source-file src="src/ios/Plugin/Models/Verse.swift" />

        <source-file src="src/ios/Plugin/Cordova/OfflineFromDBPlugin.swift" />

        <resource-file src="src/ios/Plugin/Resources/DB/default.realm" />

    </platform>
</plugin>
